# 1. 현황
+ 농산물
    + 대형마트 : ~ 2022-09-29
    + 온라인 : x
+ 참가격
    + 대형마트 : ~ 2022-09-30
    + 온라인  : ~ 2022-09-30

+ 목차
    + Data Load
    + **온라인 주류가격을 대형마트 주류가격으로 바꾸기** 
    + Data DB에 넣기

### (1) Data Load

In [2]:
%pyspark
# 1. 농산물
import pandas as pd
nong_goods_price = pd.read_csv('/nongsanmul_data/from20210907_to20220929_nongsanmul_daily_base.csv')
nong_goods_price

In [3]:
%pyspark
# 2. 참가격 - 대형마트
import pandas as pd
true_mart_goods_price = pd.read_csv('/DB_data/goods_price_table_new.csv')
true_mart_goods_price = true_mart_goods_price[true_mart_goods_price['goods_id']<10000]
true_mart_goods_price.goods_id.unique()

In [4]:
%pyspark
true_mart_goods_price[true_mart_goods_price['goods_id']==307]

In [5]:
%pyspark

# 3. 참가격 - 온라인
import pandas as pd
true_online_goods_price = pd.read_csv('/DB_data/goods_price_table_new_tprice.csv')
tmp = true_online_goods_price[true_online_goods_price['price'].isnull()]
tmp[tmp['research_date']=='2022-07-30']

### (2) Alcohol 찾기

In [7]:
%pyspark
tmp = true_online_goods_price[true_online_goods_price['price'].isnull()]
tmp[tmp['research_date']=='2022-07-30']
nan_goods_id = list(tmp[tmp['research_date']=='2022-07-30']['goods_id'])
nan_goods_id

In [8]:
%pyspark
goods = pd.read_csv('/DB_data/20221001_goods_table.csv')
goods[goods['goods_id'].isin(nan_goods_id)]

In [9]:
%pyspark
Alcohol = true_mart_goods_price[true_mart_goods_price['goods_id'].isin(nan_goods_id)]
Alcohol['business'] = 'o'
Alcohol

### (3) Alcohol 가격 바꾸기

In [11]:
%pyspark
# 1. true_online_goods_price 에서 주류 row 버리기
rowsToBeDeleted = true_online_goods_price[true_online_goods_price['goods_id'].isin(nan_goods_id)]
tmp = true_online_goods_price.drop(rowsToBeDeleted.index)
sum(tmp['goods_id'].isin(nan_goods_id))  # 삭제 잘되었는지 확인

In [12]:
%pyspark
import pandas as pd
# 2. true_online_goods_price에 Alcohol 병합하기
merged_true_online_goods_price = pd.concat([tmp,Alcohol])
merged_true_online_goods_price = merged_true_online_goods_price.reset_index(drop=True)
merged_true_online_goods_price[merged_true_online_goods_price['goods_id'].isin(nan_goods_id)]

In [13]:
%MySQL
SELECT * FROM goods

In [14]:
%pyspark
# 3가지 합치기
import pandas as pd
goods_price_except_onlineNongSanMul = pd.concat([nong_goods_price,true_mart_goods_price,merged_true_online_goods_price])
goods_price_except_onlineNongSanMul

## [2] DB에 넣기

### (1) 한번에 넣기

In [17]:
%pyspark
# DB에 넣기

from pyspark.sql.functions import col

prop = {"user": "ji", "password": "cvgkbhs234r#8tdx", "driver": "com.mysql.cj.jdbc.Driver"} 
url = "jdbc:mysql://j7d108.p.ssafy.io:3306/gamulgamul_test3?useSSL=false&characterEncoding=UTF-8&useUnicode=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul"

nong_goods_price_sdf = spark.createDataFrame(nong_goods_price)
true_mart_goods_price_sdf = spark.createDataFrame(true_mart_goods_price)
true_online_goods_price_sdf = spark.createDataFrame(true_online_goods_price)

goods_price_except_onlineNongSanMul_sdf = spark.createDataFrame(goods_price_except_onlineNongSanMul)


goods_price_except_onlineNongSanMul_sdf.write.jdbc(\
    url= url,\
    table = "goods_price",\
    mode="append",\
    properties=prop)

In [18]:
%pyspark
# local에 저장하기

goods_price_except_onlineNongSanMul.to_csv('/DB_data/20220929_or_20220930_tmp_goods_price.csv', header=True, index=False)

### (2) 따로 넣기

In [20]:
%pyspark
# nong_goods_price_sdf.write.jdbc(\
#     url= url,\
#     table = "goods_price",\
#     mode="append",\
    # properties=prop)

In [21]:
%pyspark
# true_mart_goods_price_sdf.write.jdbc(\
#     url= url,\
#     table = "goods_price",\
#     mode="append",\
    # properties=prop)

In [22]:
%pyspark
# merged_true_online_goods_price.write.jdbc(\
#     url= url,\
#     table = "goods_price",\
#     mode="append",\
#     properties=prop)

In [23]:
%MySQL
select * FROM goods_price
order by goods_price_id asc

%MySQL

%MySQL