# 전처리 방안

## [1] null 값 전처리 방법
1. 앞의 값으로 뒤의 null 값 채우기
2. 앞 뒤의 값의 평균으로 null 값 채우기

## [2] 전처리 단위 데이터
1. 연데이터 마다 null 값 채운 후, 10년치 합치기
    + 장점
        + 우리가 인식할 수 있는 범위내에서, null처리를 명확하게 할 수 있음
    + 단점
        + 그렇게 되면 2012년와 2022년과 row개수 달라서, 또 한번 더 null 처리 해줘야 함
        + 2012-01 데이터와 2013-01 데이터가 있고 나머지가 null일 때, 2012-12의 대체값을 2012-01로 쓰게 됨

2. 2012~2022년 데이터 모두 모아서 한 번에 null 처리하기
    + 장점
        + 한 번만 null처리 해주면 됨

    + 단점
        + 과거의 데이터가 없는 상품들에 대해서, 과거부분 null 처리를 할지 말지를 정해야함
        + 우리가 인식하지 못하는 범위에서, 너무 많은 부분의 null들이 대체값으로 처리될 수 있음

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/Team_lemonmul/PopData/Data/월별데이터(10년)

/content/drive/.shortcut-targets-by-id/1k2RzEvWtJ__WV4ThLWM5VyXk_FspqjfH/Team_lemonmul/PopData/Data/월별데이터(10년)

In [3]:
import pandas as pd

# 전처리

In [ ]:
tprice_2012 = pd.read_excel('./참가격_2012.xlsx')
tprice_2012

,번호,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,...,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12
0,1,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,...,3482/316,3168/288,3478/316,3475/316,3450/314,2538/231,3456/314,3488/317,3535/321,3543/322
1,2,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,...,1703/263,1678/259,1667/257,1666/257,-,-,-,-,-,-
2,3,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,...,2860/318,2862/318,2763/307,2816/313,-,-,-,-,-,-
3,4,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,...,2561/285,2500/278,2587/288,2517/280,2464/274,2563/285,2572/286,2414/268,2593/288,2583/287
4,5,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,...,-,-,-,1985/397,1973/394,2003/400,2035/407,2045/409,2027/405,2021/405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,500,돼지고기 삼겹살(100g),신선식품,축산물,돼지고기,삼겹살,100,g,100,g,...,1717/1717,1653/1653,1750/1750,1964/1964,1949/1949,1791/1791,1845/1845,1498/1498,1541/1541,1511/1511
500,501,"쇠고기 등심(1+등급, 100g)",신선식품,축산물,쇠고기,등심,100,g,100,g,...,7520/7520,7589/7589,8054/8054,7890/7890,7868/7868,7924/7924,8177/8177,8307/8307,8225/8225,8013/8013
501,502,"쇠고기 등심(1등급, 100g)",신선식품,축산물,쇠고기,등심,100,g,100,g,...,5533/5533,6391/6391,6150/6150,5674/5674,6295/6295,6322/6322,6977/6977,6962/6962,6925/6925,6560/6560
502,503,"쇠고기 불고기(1+등급, 100g)",신선식품,축산물,쇠고기,불고기,100,g,100,g,...,3534/3534,3199/3199,3618/3618,3778/3778,3643/3643,3467/3467,3688/3688,3586/3586,3508/3508,3578/3578
503,504,"쇠고기 불고기(1등급, 100g)",신선식품,축산물,쇠고기,불고기,100,g,100,g,...,3089/3089,3087/3087,3321/3321,3415/3415,2973/2973,3141/3141,3347/3347,3381/3381,3473/3473,3485/3485

## drop
채소류 행 제외\
필요없는 열 제외

In [ ]:
agr_idx = tprice_2012[tprice_2012['중분류명'] == '채소류'].index
tprice_2012.drop(agr_idx, inplace=True)

In [ ]:
tprice_2012.reset_index(drop=True, inplace=True)

In [ ]:
tprice_2012.columns

Index(['번호', '상품명', '대분류명', '중분류명', '소분류명', '제조사명', '총용량', '총용량명', '단위용량',
       '단위용량명', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05',
       '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11',
       '2012-12'],
      dtype='object')

In [ ]:
tprice_2012.drop(columns=['상품명', '대분류명', '중분류명', '제조사명', '총용량', '총용량명',], inplace=True)

In [ ]:
tprice_2012.head()

,번호,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12
0,1,국수,100,g,3328/302,3406/310,3482/316,3168/288,3478/316,3475/316,3450/314,2538/231,3456/314,3488/317,3535/321,3543/322
1,2,국수,100,g,1715/264,1713/264,1703/263,1678/259,1667/257,1666/257,-,-,-,-,-,-
2,3,국수,100,g,2894/322,2865/318,2860/318,2862/318,2763/307,2816/313,-,-,-,-,-,-
3,4,국수,100,g,2608/290,2602/289,2561/285,2500/278,2587/288,2517/280,2464/274,2563/285,2572/286,2414/268,2593/288,2583/287
4,5,국수,100,g,-,-,-,-,-,1985/397,1973/394,2003/400,2035/407,2045/409,2027/405,2021/405

In [ ]:
tprice_2012

,번호,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12
0,1,국수,100,g,3328/302,3406/310,3482/316,3168/288,3478/316,3475/316,3450/314,2538/231,3456/314,3488/317,3535/321,3543/322
1,2,국수,100,g,1715/264,1713/264,1703/263,1678/259,1667/257,1666/257,-,-,-,-,-,-
2,3,국수,100,g,2894/322,2865/318,2860/318,2862/318,2763/307,2816/313,-,-,-,-,-,-
3,4,국수,100,g,2608/290,2602/289,2561/285,2500/278,2587/288,2517/280,2464/274,2563/285,2572/286,2414/268,2593/288,2583/287
4,5,국수,100,g,-,-,-,-,-,1985/397,1973/394,2003/400,2035/407,2045/409,2027/405,2021/405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,500,돼지고기,100,g,1993/1993,1792/1792,1717/1717,1653/1653,1750/1750,1964/1964,1949/1949,1791/1791,1845/1845,1498/1498,1541/1541,1511/1511
486,501,쇠고기,100,g,7604/7604,7670/7670,7520/7520,7589/7589,8054/8054,7890/7890,7868/7868,7924/7924,8177/8177,8307/8307,8225/8225,8013/8013
487,502,쇠고기,100,g,6616/6616,6141/6141,5533/5533,6391/6391,6150/6150,5674/5674,6295/6295,6322/6322,6977/6977,6962/6962,6925/6925,6560/6560
488,503,쇠고기,100,g,3405/3405,3453/3453,3534/3534,3199/3199,3618/3618,3778/3778,3643/3643,3467/3467,3688/3688,3586/3586,3508/3508,3578/3578
489,504,쇠고기,100,g,3263/3263,3125/3125,3089/3089,3087/3087,3321/3321,3415/3415,2973/2973,3141/3141,3347/3347,3381/3381,3473/3473,3485/3485

## 가격 '/' 처리 & null('-' 처리)
'/' 기준으로 split 0번째\
null 처리는 이전 값이 있으면 다음 값을 똑같은 값으로 채워주는데\
만약 첫번째 값부터 null이라면 이후 값들 중 처음으로 null이 아닌 값을 채워줌

In [ ]:
print(tprice_2012.iloc[0, 14])

3543/322

In [ ]:
for i in range(4, 16):
  for j in range(len(tprice_2012)):
    # print(tprice_2012[i][j].split('/')[0])
    tprice_2012.iloc[j, i] = tprice_2012.iloc[j, i].split('/')[0]
    if tprice_2012.iloc[j, i] == '-':
      if i == 4:
        for k in range(i+1, 16):
          if tprice_2012.iloc[j, k] != '-':
            tprice_2012.iloc[j, i] = tprice_2012.iloc[j, k].split('/')[0]
            break
      else:
        tprice_2012.iloc[j, i] = tprice_2012.iloc[j, i-1]
      # tprice_2012[i][j] = None

In [ ]:
tprice_2012

,번호,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12
0,1,국수,100,g,3328,3406,3482,3168,3478,3475,3450,2538,3456,3488,3535,3543
1,2,국수,100,g,1715,1713,1703,1678,1667,1666,1666,1666,1666,1666,1666,1666
2,3,국수,100,g,2894,2865,2860,2862,2763,2816,2816,2816,2816,2816,2816,2816
3,4,국수,100,g,2608,2602,2561,2500,2587,2517,2464,2563,2572,2414,2593,2583
4,5,국수,100,g,1985,1985,1985,1985,1985,1985,1973,2003,2035,2045,2027,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,500,돼지고기,100,g,1993,1792,1717,1653,1750,1964,1949,1791,1845,1498,1541,1511
486,501,쇠고기,100,g,7604,7670,7520,7589,8054,7890,7868,7924,8177,8307,8225,8013
487,502,쇠고기,100,g,6616,6141,5533,6391,6150,5674,6295,6322,6977,6962,6925,6560
488,503,쇠고기,100,g,3405,3453,3534,3199,3618,3778,3643,3467,3688,3586,3508,3578
489,504,쇠고기,100,g,3263,3125,3089,3087,3321,3415,2973,3141,3347,3381,3473,3485

In [ ]:
tprice_2012.to_csv('tprice_2012_null.csv')

In [ ]:
tprice_2012_null = pd.read_csv('tprice_2012_null.csv', index_col=0)
print(tprice_2012_null)

In [ ]:
tprice_2012_null

,번호,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12
0,1,국수,100,g,3328,3406,3482,3168,3478,3475,3450,2538,3456,3488,3535,3543
1,2,국수,100,g,1715,1713,1703,1678,1667,1666,1666,1666,1666,1666,1666,1666
2,3,국수,100,g,2894,2865,2860,2862,2763,2816,2816,2816,2816,2816,2816,2816
3,4,국수,100,g,2608,2602,2561,2500,2587,2517,2464,2563,2572,2414,2593,2583
4,5,국수,100,g,1985,1985,1985,1985,1985,1985,1973,2003,2035,2045,2027,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,500,돼지고기,100,g,1993,1792,1717,1653,1750,1964,1949,1791,1845,1498,1541,1511
486,501,쇠고기,100,g,7604,7670,7520,7589,8054,7890,7868,7924,8177,8307,8225,8013
487,502,쇠고기,100,g,6616,6141,5533,6391,6150,5674,6295,6322,6977,6962,6925,6560
488,503,쇠고기,100,g,3405,3453,3534,3199,3618,3778,3643,3467,3688,3586,3508,3578
489,504,쇠고기,100,g,3263,3125,3089,3087,3321,3415,2973,3141,3347,3381,3473,3485

# 소분류별 월별 평균

In [ ]:
mean_201201 = tprice_2012_null.groupby('소분류명')['2012-01'].mean().round(2)
mean_201201

소분류명
간장        4753.00
감자칩       1114.33
건전지       2625.80
계란        3916.00
고무장갑      1898.00
           ...
핸드로션      6645.80
햄         3016.75
호일        4201.11
혼합조미료     6478.50
화장지      19021.25
Name: 2012-01, Length: 116, dtype: float64

In [ ]:
mean_201201['냉동만두']

7448.5

In [ ]:
subjects = mean_201201.index
print(subjects)

Index(['간장', '감자칩', '건전지', '계란', '고무장갑', '고추장', '과일통조림', '곽티슈', '구강청결제', '국수',
       ...
       '케첩', '콜라', '키친타월', '표백제', '피로회복제', '핸드로션', '햄', '호일', '혼합조미료', '화장지'],
      dtype='object', name='소분류명', length=116)

In [ ]:
# 기본 스키마 -> 이걸 바탕으로 date, price 추가
df_2012 = pd.read_excel('./참가격_2012.xlsx')
agr_idx = df_2012[df_2012['중분류명'] == '채소류'].index
df_2012.drop(agr_idx, inplace=True)
df_2012.reset_index(drop=True, inplace=True)
df_2012.drop(columns=['상품명', '대분류명', '중분류명', '제조사명', '총용량', '총용량명', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05',
       '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12'], inplace=True)
df_2012.drop_duplicates(['소분류명'], ignore_index=True, inplace=True)

In [ ]:
df_2012

      번호   소분류명  단위용량 단위용량명
0      1     국수   100     g
1      7   냉동만두   100     g
2     13     당면   100     g
3     15     두부   100     g
4     20     라면     1     개
..   ...    ...   ...   ...
111  460  피로회복제    10    ml
112  487     계란     1     개
113  490    닭고기   100     g
114  500   돼지고기   100     g
115  501    쇠고기   100     g

[116 rows x 4 columns]

In [ ]:
df_2012.to_csv('tprice_2012_subjects.csv')

In [ ]:
df_2012_01 = df_2012
df_2012_01['date'] = '2012-01'
mean_201201 = tprice_2012_null.groupby('소분류명')['2012-01'].mean().round(2)
# print(mean_201201[df_2012_01.iloc[0, 1]])
mean_list = []
for i in range(len(df_2012_01)):
  mean_list.append(mean_201201[df_2012_01.iloc[i, 1]])
df_2012_01['price'] = mean_list

In [ ]:
df_2012_01

      번호   소분류명  단위용량 단위용량명     date    price
0      1     국수   100     g  2012-01  2511.17
1      7   냉동만두   100     g  2012-01  7448.50
2     13     당면   100     g  2012-01  4722.00
3     15     두부   100     g  2012-01  3173.40
4     20     라면     1     개  2012-01  3018.50
..   ...    ...   ...   ...      ...      ...
111  460  피로회복제    10    ml  2012-01  3594.62
112  487     계란     1     개  2012-01  3916.00
113  490    닭고기   100     g  2012-01  7439.20
114  500   돼지고기   100     g  2012-01  1993.00
115  501    쇠고기   100     g  2012-01  5222.00

[116 rows x 6 columns]

In [ ]:
# 최종 2012년 소분류별 월별 평균 가격 데이터
df_list = []
for date in ['2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12']:
  tmp_df = pd.read_csv('tprice_2012_subjects.csv', index_col=0)
  # tmp_df = df_2012.copy() # 추후엔 이걸로 하는게 나을듯
  tmp_df['date'] = date
  mean_tmp = tprice_2012_null.groupby('소분류명')[date].mean().round(2)
  mean_list = []
  for i in range(len(tmp_df)):
    mean_list.append(mean_tmp[tmp_df.iloc[i, 1]])
  tmp_df['price'] = mean_list
  df_list.append(tmp_df)
df_2012_final = pd.concat(df_list, ignore_index=True)

In [ ]:
df_list

In [ ]:
df_2012_final

       번호   소분류명  단위용량 단위용량명     date    price
0       1     국수   100     g  2012-01  2511.17
1       7   냉동만두   100     g  2012-01  7448.50
2      13     당면   100     g  2012-01  4722.00
3      15     두부   100     g  2012-01  3173.40
4      20     라면     1     개  2012-01  3018.50
...   ...    ...   ...   ...      ...      ...
1387  460  피로회복제    10    ml  2012-12  3677.00
1388  487     계란     1     개  2012-12  3755.00
1389  490    닭고기   100     g  2012-12  7784.60
1390  500   돼지고기   100     g  2012-12  1511.00
1391  501    쇠고기   100     g  2012-12  5409.00

[1392 rows x 6 columns]

In [ ]:
df_2012_final.to_csv('tprice_2012.csv')

# 10년 데이터 합치기

In [ ]:
tprice_2012 = pd.read_excel('./참가격_2012.xlsx', usecols=range(1, 23))
tprice_2013 = pd.read_excel('./참가격_2013.xlsx', usecols=range(1, 23))
tprice_2014 = pd.read_excel('./참가격_2014.xlsx', usecols=range(1, 23))
tprice_2015 = pd.read_excel('./참가격_2015.xlsx', usecols=range(1, 23))
tprice_2016 = pd.read_excel('./참가격_2016.xlsx', usecols=range(1, 23))
tprice_2017 = pd.read_excel('./참가격_2017.xlsx', usecols=range(1, 23))
tprice_2018 = pd.read_excel('./참가격_2018.xlsx', usecols=range(1, 23))
tprice_2019 = pd.read_excel('./참가격_2019.xlsx', usecols=range(1, 23))
tprice_2020 = pd.read_excel('./참가격_2020.xlsx', usecols=range(1, 23))
tprice_2021 = pd.read_excel('./참가격_2021.xlsx', usecols=range(1, 23))
tprice_2022 = pd.read_excel('./참가격_2022.xlsx', usecols=range(1, 23))

/usr/local/lib/python3.7/dist-packages/pandas/io/excel/_base.py:1292: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  **kwds,

In [ ]:
tprice = tprice_2012.copy()
for i in range(13, 23):
  tprice = pd.merge(left=tprice, right=globals()[f'tprice_20{i}'], how='outer', on=['상품명', '대분류명', '중분류명', '소분류명', '제조사명', '총용량', '총용량명', '단위용량', '단위용량명'])

In [ ]:
tprice.head()

,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,2012-01,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,3328/302,...,3255/296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,1715/264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,2894/322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,2608/290,...,3080/342,3351/372,3497/389,3426/381,3393/377,3646/405,3571/397,3852/428,3942/438,4051/450
4,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tprice.shape

(1064, 138)

In [ ]:
import numpy as np
tprice = tprice.replace('-', np.NaN)

In [ ]:
tprice.to_csv('tprice_month.csv')

In [ ]:
tprice = pd.read_csv('tprice_month.csv', index_col=0)

In [ ]:
tprice_null = tprice.isnull().sum()

In [ ]:
tprice_null.to_frame()

           0
상품명        0
대분류명       0
중분류명       0
소분류명       0
제조사명       7
...      ...
2022-05  717
2022-06  717
2022-07  720
2022-08  718
2022-09  726

[138 rows x 1 columns]

In [ ]:
tprice_null.to_csv('tprice_null_date.csv')

In [ ]:
tprice_null.describe()

count    138.000000
mean     566.978261
std      156.389672
min        0.000000
25%      572.000000
50%      593.000000
75%      636.000000
max      726.000000
dtype: float64

In [ ]:
tprice.isnull().sum(1).to_frame()

        0
0      32
1     123
2     123
3       0
4      85
...   ...
1059  123
1060  123
1061  123
1062  120
1063  120

[1064 rows x 1 columns]

In [ ]:
tprice_null_row = tprice.isnull().sum(1)
tprice_null_row.to_csv('tprice_null_row.csv')

In [ ]:
tprice_null_row.describe()

count    1064.000000
mean       73.536654
std        41.942627
min         0.000000
25%        47.000000
50%        80.000000
75%       120.000000
max       129.000000
dtype: float64

In [ ]:
tprice[tprice['2012-01'].isnull()]['상품명'].values

In [ ]:
date = []
상품명 = []
소분류명 = []

for year in range(2012, 2022):
  for month in range(1, 13):
    if len(str(month)) == 1:
      month = '0'+str(month)
    date.append(f'{year}-{month}')
    상품명.append(tprice[tprice[f'{year}-{month}'].isnull()]['상품명'].values)
    소분류명.append(tprice[tprice[f'{year}-{month}'].isnull()]['소분류명'].values)
for month in range(1, 10):
  if len(str(month)) == 1:
      month = '0'+str(month)
  date.append(f'2022-{month}')
  상품명.append(tprice[tprice[f'2022-{month}'].isnull()]['상품명'].values)
  소분류명.append(tprice[tprice[f'2022-{month}'].isnull()]['소분류명'].values)

null_check = pd.DataFrame({'date':date, '상품명':상품명, '소분류명':소분류명})

In [ ]:
null_check

,date,상품명,소분류명
0,2012-01,"[제일제면소 소면, 국산콩두부(찌개용)(풀무원), 행복한콩 국산콩두부(찌개용), 신...","[국수, 두부, 두부, 라면, 밀가루, 빵, 빵, 빵, 빵, 스프, 스프, 스프, ..."
1,2012-02,"[제일제면소 소면, 국산콩두부(찌개용)(풀무원), 행복한콩 국산콩두부(찌개용), 신...","[국수, 두부, 두부, 라면, 밀가루, 빵, 빵, 빵, 빵, 스프, 스프, 스프, ..."
2,2012-03,"[제일제면소 소면, 국산콩두부(찌개용)(풀무원), 행복한콩 국산콩두부(찌개용), 신...","[국수, 두부, 두부, 라면, 밀가루, 빵, 빵, 빵, 빵, 스프, 스프, 스프, ..."
3,2012-04,"[제일제면소 소면, 국산콩두부(찌개용)(풀무원), 행복한콩 국산콩두부(찌개용), 신...","[국수, 두부, 두부, 라면, 밀가루, 빵, 빵, 빵, 스프, 스프, 스프, 식빵,..."
4,2012-05,"[제일제면소 소면, 국산콩두부(찌개용)(풀무원), 행복한콩 국산콩두부(찌개용), 신...","[국수, 두부, 두부, 라면, 밀가루, 빵, 빵, 빵, 스프, 스프, 스프, 식빵,..."
...,...,...,...
124,2022-05,"[샘표소면(1.1kg), 샘표소면(650g), 샘표소면(900g), 제일제면소 소면...","[국수, 국수, 국수, 국수, 국수, 냉동만두, 냉동만두, 냉동만두, 냉동만두, 냉..."
125,2022-06,"[샘표소면(1.1kg), 샘표소면(650g), 샘표소면(900g), 제일제면소 소면...","[국수, 국수, 국수, 국수, 국수, 냉동만두, 냉동만두, 냉동만두, 냉동만두, 냉..."
126,2022-07,"[샘표소면(1.1kg), 샘표소면(650g), 샘표소면(900g), 제일제면소 소면...","[국수, 국수, 국수, 국수, 국수, 냉동만두, 냉동만두, 냉동만두, 냉동만두, 냉..."
127,2022-08,"[샘표소면(1.1kg), 샘표소면(650g), 샘표소면(900g), 제일제면소 소면...","[국수, 국수, 국수, 국수, 국수, 냉동만두, 냉동만두, 냉동만두, 냉동만두, 냉..."
128,2022-09,"[샘표소면(1.1kg), 샘표소면(650g), 샘표소면(900g), 제일제면소 소면...","[국수, 국수, 국수, 국수, 국수, 냉동만두, 냉동만두, 냉동만두, 냉동만두, 냉..."

In [ ]:
null_check.to_csv('null_check.csv')

단위용량 일치시키기

In [26]:
tprice = pd.read_csv('tprice_month.csv', index_col=0)
tprice

,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,2012-01,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,3328/302,...,3255/296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,1715/264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,2894/322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,2608/290,...,3080/342,3351/372,3497/389,3426/381,3393/377,3646/405,3571/397,3852/428,3942/438,4051/450
4,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),2,개,1,개,NaN,...,NaN,NaN,NaN,NaN,15000/7500,12000/6000,12000/6000,12000/6000,12000/6000,12000/6000
1060,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),1,개,1,개,NaN,...,NaN,NaN,NaN,NaN,10000/10000,5500/5500,10000/10000,8000/8000,6000/6000,6000/6000
1061,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),25,개,1,개,NaN,...,NaN,NaN,NaN,NaN,5500/220,5000/200,5000/200,5000/200,5000/200,5000/200
1062,깨끗한나라 순수 시그니쳐 3겹(30롤),생활용품,위생용품,화장지,깨끗한나라,30,롤,1,롤,NaN,...,NaN,21900/730,24850/829,20175/673,21900/730,17250/576,16175/540,17250/576,17250/576,15900/530
1063,크리넥스 데코엔소프트 3겹(24롤),생활용품,위생용품,화장지,유한킴벌리,24,롤,1,롤,NaN,...,NaN,21790/908,23594/984,23368/974,25431/1060,26504/1105,26981/1125,25734/1073,27321/1139,28213/1176

In [27]:
for i in range(9, 138):
  for j in range(len(tprice)):
    if not pd.isna(tprice.iloc[j, i]):
      tprice.iloc[j, i] = tprice.iloc[j, i].split('/')[1]
tprice

,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,2012-01,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,302,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,290,...,342,372,389,381,377,405,397,428,438,450
4,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),2,개,1,개,NaN,...,NaN,NaN,NaN,NaN,7500,6000,6000,6000,6000,6000
1060,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),1,개,1,개,NaN,...,NaN,NaN,NaN,NaN,10000,5500,10000,8000,6000,6000
1061,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),25,개,1,개,NaN,...,NaN,NaN,NaN,NaN,220,200,200,200,200,200
1062,깨끗한나라 순수 시그니쳐 3겹(30롤),생활용품,위생용품,화장지,깨끗한나라,30,롤,1,롤,NaN,...,NaN,730,829,673,730,576,540,576,576,530
1063,크리넥스 데코엔소프트 3겹(24롤),생활용품,위생용품,화장지,유한킴벌리,24,롤,1,롤,NaN,...,NaN,908,984,974,1060,1105,1125,1073,1139,1176

In [28]:
tprice.drop([119, 710, 860, 861, 389, 596, 242, 1028], inplace=True)

In [30]:
# 1032, 1033 : 100ml -> 10ml
for i in range(9, 138):
  if not pd.isna(tprice.iloc[1032, i]):
    tprice.iloc[1032, i] = int(tprice.iloc[1032, i])//10
  if not pd.isna(tprice.iloc[1033, i]):
    tprice.iloc[1033, i] = int(tprice.iloc[1033, i])//10

In [32]:
tprice.iloc[1032, 7] = 10
tprice.iloc[1033, 7] = 10

In [29]:
# 905, 890 : 팩 -> 개
tprice.iloc[905, 6] = '개'
tprice.iloc[905, 8] = '개'
tprice.iloc[890, 6] = '개'
tprice.iloc[890, 8] = '개'

In [31]:
# 396, 1043, 397, 402, 1040, 1041 : g -> ml
for idx in [396, 1043, 397, 402, 1040, 1041]:
  tprice.iloc[idx, 6] = 'ml'
  tprice.iloc[idx, 8] = 'ml'

In [33]:
# 982, 981, 984, 983, 985 : 100 -> 10
for i in range(9, 138):
  for idx in [982, 981, 984, 983, 985]:
    tprice.iloc[idx, 7] = 10
    if not pd.isna(tprice.iloc[idx, i]):
      tprice.iloc[idx, i] = int(tprice.iloc[idx, i])//10

In [34]:
# 983, 985 : ml -> g
tprice.iloc[983, 6] = 'g'
tprice.iloc[983, 8] = 'g'
tprice.iloc[985, 6] = 'g'
tprice.iloc[985, 8] = 'g'

In [35]:
# 934 : 100g -> 10g
for i in range(9, 138):
  tprice.iloc[934, 7] = 10
  if not pd.isna(tprice.iloc[934, i]):
    tprice.iloc[934, i] = int(tprice.iloc[934, i])//10

In [36]:
# 963 : 1000ml -> 100ml
for i in range(9, 138):
  tprice.iloc[963, 7] = 100
  if not pd.isna(tprice.iloc[963, i]):
    tprice.iloc[963, i] = int(tprice.iloc[963, i])//10

In [37]:
# 918, 766, 763 : 100g -> 10g
for i in range(9, 138):
  for idx in [918, 766, 763]:
    tprice.iloc[idx, 7] = 10
    if not pd.isna(tprice.iloc[idx, i]):
      tprice.iloc[idx, i] = int(tprice.iloc[idx, i])//10

In [38]:
# 935 : 100g -> 10g
for i in range(9, 138):
  tprice.iloc[935, 7] = 10
  if not pd.isna(tprice.iloc[935, i]):
    tprice.iloc[935, i] = int(tprice.iloc[935, i])//10

In [39]:
# 597, 598 : ml -> g
tprice.iloc[597, 6] = 'g'
tprice.iloc[597, 8] = 'g'
tprice.iloc[598, 6] = 'g'
tprice.iloc[598, 8] = 'g'

In [40]:
# 1014, 1017 :  ml -> g
tprice.iloc[1014, 6] = 'g'
tprice.iloc[1014, 8] = 'g'
tprice.iloc[1017, 6] = 'g'
tprice.iloc[1017, 8] = 'g'

In [41]:
# 919 : 420 -> 100
for i in range(9, 138):
  tprice.iloc[919, 7] = 100
  if not pd.isna(tprice.iloc[919, i]):
    tprice.iloc[919, i] = int(tprice.iloc[919, i])//4.2

In [42]:
# 864, 461, 460 : 개 -> 매
tprice.iloc[864, 6] = '매'
tprice.iloc[864, 8] = '매'
tprice.iloc[461, 6] = '매'
tprice.iloc[461, 8] = '매'
tprice.iloc[460, 6] = '매'
tprice.iloc[460, 8] = '매'

In [43]:
# 72, 73, 74, 650, 71 : 10g -> 100g
for i in range(9, 138):
  for idx in [72, 73, 74, 650, 71]:
    tprice.iloc[idx, 7] = 100
    if not pd.isna(tprice.iloc[idx, i]):
      tprice.iloc[idx, i] = int(tprice.iloc[idx, i])*10

In [44]:
# 937 : 100g -> 10g
for i in range(9, 138):
  tprice.iloc[937, 7] = 10
  if not pd.isna(tprice.iloc[937, i]):
    tprice.iloc[937, i] = int(tprice.iloc[937, i])//10

In [45]:
# 1053 : 100g -> 10g
for i in range(9, 138):
  tprice.iloc[1053, 7] = 10
  if not pd.isna(tprice.iloc[1053, i]):
    tprice.iloc[1053, i] = int(tprice.iloc[1053, i])//10

In [46]:
# 1029, 1027 : 1매 -> 10매
for i in range(9, 138):
  for idx in [1029, 1027]:
    tprice.iloc[idx, 7] = 10
    if not pd.isna(tprice.iloc[idx, i]):
      tprice.iloc[idx, i] = int(tprice.iloc[idx, i])*10

In [47]:
# 362, 705 : ml -> g
tprice.iloc[362, 6] = 'g'
tprice.iloc[362, 8] = 'g'
tprice.iloc[705, 6] = 'g'
tprice.iloc[705, 8] = 'g'

In [48]:
tprice

,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,2012-01,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,302,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,290,...,342,372,389,381,377,405,397,428,438,450
4,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),2,개,1,개,NaN,...,NaN,NaN,NaN,NaN,7500,6000,6000,6000,6000,6000
1060,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),1,개,1,개,NaN,...,NaN,NaN,NaN,NaN,10000,5500,10000,8000,6000,6000
1061,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),25,개,10,개,NaN,...,NaN,NaN,NaN,NaN,22,20,20,20,20,20
1062,깨끗한나라 순수 시그니쳐 3겹(30롤),생활용품,위생용품,화장지,깨끗한나라,30,롤,1,롤,NaN,...,NaN,730,829,673,730,576,540,576,576,530
1063,크리넥스 데코엔소프트 3겹(24롤),생활용품,위생용품,화장지,유한킴벌리,24,롤,1,롤,NaN,...,NaN,908,984,974,1060,1105,1125,1073,1139,1176

In [49]:
tprice.reset_index(inplace=True)

In [50]:
tprice.to_csv('tprice_unit.csv')

In [69]:
tprice_unit = pd.read_csv('tprice_unit.csv', index_col=0)
tprice_unit

,index,상품명,대분류명,중분류명,소분류명,제조사명,총용량,총용량명,단위용량,단위용량명,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,0,샘표소면(1.1kg),가공식품,곡물가공품,국수,샘표,1100,g,100,g,...,296.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,샘표소면(650g),가공식품,곡물가공품,국수,샘표,650,g,100,g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,샘표소면(900g),가공식품,곡물가공품,국수,샘표,900,g,100,g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,옛날국수 소면(900g),가공식품,곡물가공품,국수,오뚜기,900,g,100,g,...,342.0,372.0,389.0,381.0,377.0,405.0,397.0,428.0,438.0,450.0
4,4,제일제면소 소면,가공식품,곡물가공품,국수,CJ제일제당,500,g,100,g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1059,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),2,개,1,개,...,NaN,NaN,NaN,NaN,7500.0,6000.0,6000.0,6000.0,6000.0,6000.0
1052,1060,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),1,개,1,개,...,NaN,NaN,NaN,NaN,10000.0,5500.0,10000.0,8000.0,6000.0,6000.0
1053,1061,휴마시스 코비드-19 홈 테스트,생활용품,위생용품,코로나 자가검사 키트,휴마시스(주),25,개,10,개,...,NaN,NaN,NaN,NaN,22.0,20.0,20.0,20.0,20.0,20.0
1054,1062,깨끗한나라 순수 시그니쳐 3겹(30롤),생활용품,위생용품,화장지,깨끗한나라,30,롤,1,롤,...,NaN,730.0,829.0,673.0,730.0,576.0,540.0,576.0,576.0,530.0
1055,1063,크리넥스 데코엔소프트 3겹(24롤),생활용품,위생용품,화장지,유한킴벌리,24,롤,1,롤,...,NaN,908.0,984.0,974.0,1060.0,1105.0,1125.0,1073.0,1139.0,1176.0

In [70]:
agr_idx = tprice_unit[tprice_unit['중분류명'] == '채소류'].index
tprice_unit.drop(agr_idx, inplace=True)
tprice_unit.reset_index(drop=True, inplace=True)

In [71]:
setak_idx = tprice_unit[tprice_unit['소분류명'] == '세탁세제'].index
tprice_unit.drop(setak_idx, inplace=True)
tprice_unit.reset_index(drop=True, inplace=True)

In [72]:
tprice_unit.drop([1001], inplace=True)

In [73]:
tprice_unit.drop(columns=['index', '상품명', '대분류명', '중분류명', '제조사명', '총용량', '총용량명',], inplace=True)
tprice_unit

,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,국수,100,g,302.0,310.0,316.0,288.0,316.0,316.0,314.0,...,296.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,국수,100,g,264.0,264.0,263.0,259.0,257.0,257.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,국수,100,g,322.0,318.0,318.0,318.0,307.0,313.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,국수,100,g,290.0,289.0,285.0,278.0,288.0,280.0,274.0,...,342.0,372.0,389.0,381.0,377.0,405.0,397.0,428.0,438.0,450.0
4,국수,100,g,NaN,NaN,NaN,NaN,NaN,397.0,394.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,코로나 자가검사 키트,1,개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN,NaN,NaN
999,코로나 자가검사 키트,1,개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7500.0,6000.0,6000.0,6000.0,6000.0,6000.0
1000,코로나 자가검사 키트,1,개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10000.0,5500.0,10000.0,8000.0,6000.0,6000.0
1002,화장지,1,롤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,730.0,829.0,673.0,730.0,576.0,540.0,576.0,576.0,530.0
1003,화장지,1,롤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,908.0,984.0,974.0,1060.0,1105.0,1125.0,1073.0,1139.0,1176.0

In [74]:
for i in range(3, 132):
  for j in range(len(tprice_unit)):
    if pd.isna(tprice_unit.iloc[j, i]):
      if i == 3:
        for k in range(i+1, 132):
          if not pd.isna(tprice_unit.iloc[j, k]):
            tprice_unit.iloc[j, i] = tprice_unit.iloc[j, k]
            break
      else:
        tprice_unit.iloc[j, i] = tprice_unit.iloc[j, i-1]

In [75]:
tprice_unit

,소분류명,단위용량,단위용량명,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,...,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09
0,국수,100,g,302.0,310.0,316.0,288.0,316.0,316.0,314.0,...,296.0,296.0,296.0,296.0,296.0,296.0,296.0,296.0,296.0,296.0
1,국수,100,g,264.0,264.0,263.0,259.0,257.0,257.0,257.0,...,257.0,257.0,257.0,257.0,257.0,257.0,257.0,257.0,257.0,257.0
2,국수,100,g,322.0,318.0,318.0,318.0,307.0,313.0,313.0,...,313.0,313.0,313.0,313.0,313.0,313.0,313.0,313.0,313.0,313.0
3,국수,100,g,290.0,289.0,285.0,278.0,288.0,280.0,274.0,...,342.0,372.0,389.0,381.0,377.0,405.0,397.0,428.0,438.0,450.0
4,국수,100,g,397.0,397.0,397.0,397.0,397.0,397.0,394.0,...,383.0,383.0,383.0,383.0,383.0,383.0,383.0,383.0,383.0,383.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,코로나 자가검사 키트,1,개,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,...,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0
999,코로나 자가검사 키트,1,개,7500.0,7500.0,7500.0,7500.0,7500.0,7500.0,7500.0,...,7500.0,7500.0,7500.0,7500.0,7500.0,6000.0,6000.0,6000.0,6000.0,6000.0
1000,코로나 자가검사 키트,1,개,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,5500.0,10000.0,8000.0,6000.0,6000.0
1002,화장지,1,롤,730.0,730.0,730.0,730.0,730.0,730.0,730.0,...,730.0,730.0,829.0,673.0,730.0,576.0,540.0,576.0,576.0,530.0
1003,화장지,1,롤,908.0,908.0,908.0,908.0,908.0,908.0,908.0,...,908.0,908.0,984.0,974.0,1060.0,1105.0,1125.0,1073.0,1139.0,1176.0

In [76]:
tprice_unit.to_csv('tprice_not_null.csv')

In [77]:
df_basic = tprice_unit.drop(tprice_unit.iloc[:, 3:], axis=1)
df_basic.drop_duplicates(['소분류명'], ignore_index=True, inplace=True)
df_basic

            소분류명  단위용량 단위용량명
0             국수   100     g
1           냉동만두   100     g
2             당면   100     g
3             두부   100     g
4             라면     1     개
..           ...   ...   ...
140          드레싱   100     g
141          포도주   100    ml
142      반려동물 사료   100     g
143          마스크    10     개
144  코로나 자가검사 키트     1     개

[145 rows x 3 columns]

In [79]:
df_basic.to_csv('tprice_product.csv')

In [83]:
# 최종 2012년~2022년 소분류별 월별 평균 가격 데이터
df_list = []
for year in range(2012, 2022):
  for month in range(1, 13):
    if month<10:
      date = str(year) + '-0' + str(month)
    else:
      date = str(year) + '-' + str(month)
    tmp_df = df_basic.copy()
    tmp_df['date'] = date + '-01'
    mean_tmp = tprice_unit.groupby('소분류명')[date].mean().round(2)
    mean_list = []
    for i in range(len(tmp_df)):
      mean_list.append(mean_tmp[tmp_df.iloc[i, 0]])
    tmp_df['price'] = mean_list
    df_list.append(tmp_df)


for month in range(1, 10):
  if month<10:
    date = str(2022) + '-0' + str(month)
  else:
    date = str(2022) + '-' + str(month)
  tmp_df = df_basic.copy()
  tmp_df['date'] = date + '-01'
  mean_tmp = tprice_unit.groupby('소분류명')[date].mean().round(2)
  mean_list = []
  for i in range(len(tmp_df)):
    mean_list.append(mean_tmp[tmp_df.iloc[i, 0]])
  tmp_df['price'] = mean_list
  df_list.append(tmp_df)

df_final = pd.concat(df_list, ignore_index=True)

In [85]:
df_final

              소분류명  단위용량 단위용량명        date     price
0               국수   100     g  2012-01-01    323.88
1             냉동만두   100     g  2012-01-01    989.81
2               당면   100     g  2012-01-01   1127.60
3               두부   100     g  2012-01-01    889.15
4               라면     1     개  2012-01-01    603.50
...            ...   ...   ...         ...       ...
18700          드레싱   100     g  2022-09-01   1123.50
18701          포도주   100    ml  2022-09-01   1218.00
18702      반려동물 사료   100     g  2022-09-01   1340.00
18703          마스크    10     개  2022-09-01  12000.00
18704  코로나 자가검사 키트     1     개  2022-09-01   5400.00

[18705 rows x 5 columns]

In [86]:
df_final.to_csv('tprice_final.csv')