In [0]:
%MySQL -- 대시보드
(select goods_id as id, research_date, price , business from goods_price
where business='o' and goods_id in (select goods_id from goods where product_id ='${product_id}') and research_date >='2022-05-01')

union
(select if(product_id='${product_id}',99999,99999) as id , research_date, price , business from product_price
where business='o' and date_type='d' and product_id='${product_id}' and research_date >='2022-07-01')


order by research_date desc

In [1]:
%MySQL
select * from goods_price as gp
where research_date='2022-10-06' and business='o'--and goods_id>=20000 and business='m'
left join goods as g
on gp.goods_id = g.goods_id
-- order by goods_id, research_date, business

In [2]:
%MySQL
select * from goods_price
where research_date='2022-10-06' and business='o'--and goods_id>=20000 and business='m'
order by goods_id, research_date, business

In [3]:
%MySQL
select count(*) from product_price
where research_date='2022-10-06' and business='o'--and goods_id>=20000 and business='m'
order by product_id, research_date, business

In [4]:
%MySQL
select * from product_price
where product_id in (1041, 1020, 1022, 1035, 1039, 1016, 1014, 1008, 1003, 1037, 1011, 1004, 1009, 1026, 1015, 1038, 1017, 1017, 1027, 1029, 1031, 1025, 1002, 1043, 1034, 1000, 1042, 1006, 1044, 1019, 1019, 1012, 1012, 1012, 1001, 1005, 1021, 1033, 1040, 1030, 1013, 1049, 1050)
order by research_date desc

In [5]:
%MySQL
select * from goods

In [6]:

%MySQL
select * from goods
where name like '%${name}%'

In [7]:
%MySQL
select * from product
where name like "%멜론%"

In [8]:
%MySQL
select * from goods

In [9]:
%MySQL
select count(*) from goods_price
where research_date = '2022-09-07' and business='m'

In [10]:
%MySQL
select * from product_price
where product_id = 1013

In [11]:
%MySQL
select * from goods
where name like "%${}%"

%MySQL