### (1) 지우기

In [1]:
%MySQL
-- delete from goods_price
-- where research_date = '2022-10-04' and business='m' and goods_id >=20000

In [2]:
%MySQL
select * from product_price
where research_date = '2022-10-04'
order by product_id

In [3]:
%MySQL
-- business m 이 올바르게 들어갔는지 확인하는 곳
select goods_id, count(*) as nums from goods_price
where research_date = '2022-10-04' and business='m'
group by goods_id
order by nums desc

In [4]:
%MySQL
select * from goods_price
where research_date = '2022-10-04' and business='m' and goods_id >=20000
order by goods_id

%MySQL